#splash {
    margin-bottom: 4rem;
}

#results {
    display: none;
    margin-bottom: 4rem;
}

.js-emojis-trigger {
    cursor: pointer;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.js-emojis-trigger:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
}